.Footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    p{
        width: 23.75rem;
        font-size: 0.9rem;
        line-height: 21px;
    }
}